# **NBA Data Scraper**

## Libraries

In [6]:
import pandas as pd

## Tests for DF transformation

In [ ]:
list_a = [['a',1],['b',2],['c',3]]

list_b = [['a',4],['b',5],['c',6]]

print( list_a + list_b)

In [ ]:
dfa = pd.DataFrame(list_a).T
dfb = pd.DataFrame(list_b)

In [24]:
dfa

   0  1  2
0  a  b  c
1  1  2  3

In [20]:
list_of_df = [dfa,dfb]

In [21]:
pd.concat([i for i in list_of_df], axis='rows', join = 'inner')

   0  1
0  a  1
1  b  2
2  c  3
0  a  4
1  b  5
2  c  6

In [4]:
# retreive player box score for 1 season and return as dataframe

# remove rows where player did not play for more than 5 minutes
# remove rows where there are nulls due to injury or other
# encode game winner
# set and verify datatypes

def box_score(player_id, year):
    df = pd.DataFrame(client.regular_season_player_box_scores(player_identifier="westbru01", season_end_year=2019))
    df.dropna(axis=)

    return df

In [ ]:
# retrieve box score for x years and return as dataframe

def all_box_scores(player_id,year_start,year_stop):
    df = pd.concat([box_score(player_id, year) for year in range(year_start,year_stop)],
                   axis = 'rows',
                   join = 'inner')
    return df