# **NBA Data Scraper**

## Libraries

In [ ]:
import pandas as pd
import numpy as np

## Tests for DF transformation

In [ ]:
list_a = [['a',1],['b',2],['c',3]]

list_b = [['a',4],['b',5],['c',6]]

print( list_a + list_b)

In [25]:
dfa = pd.DataFrame(list_a).T
dfb = pd.DataFrame(list_b).T

In [27]:
list_of_df = [dfa,dfb]

In [28]:
pd.concat([i for i in list_of_df], axis='rows', join = 'inner')

   0  1  2
0  a  b  c
1  1  2  3
0  a  b  c
1  4  5  6

In [4]:
# retreive player box score for 1 season and return as dataframe -- DONE

# remove rows where player did not play for more than 5 minutes -- WORK IN PROGRESS
# remove rows where there are nulls due to injury or other

# encode game winner
# set and verify datatypes

def box_score(player_id, year):
    df = pd.DataFrame(client.regular_season_player_box_scores(player_identifier="westbru01", season_end_year=2019))
    df.dropna(axis=)

    return df

In [ ]:
# retrieve box score for x years and return as dataframe -- DONE

def player_box_scores(player_id,year_start,year_stop):
    df = pd.concat([box_score(player_id, year) for year in range(year_start,year_stop)],
                   axis = 'rows',
                   join = 'inner')
    return df

## Working with Sample Files

In [29]:
westbrook_path = 'Sample_Files/westbrook_2014_2019.csv'
westbrook_df = pd.read_csv(westbrook_path)
westbrook_df.head(10)

,Unnamed: 0,date,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus
0,0,2014-10-29,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PORTLAND_TRAIL_BLAZERS,Outcome.LOSS,1959,11,26,1,...,2,1,6,3,0,2,3,38,29.5,-4
1,1,2014-10-30,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.LOS_ANGELES_CLIPPERS,Outcome.LOSS,523,1,3,0,...,0,0,4,1,0,3,2,2,0.3,-3
2,2,2014-11-28,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.NEW_YORK_KNICKS,Outcome.WIN,1428,12,17,3,...,4,3,8,1,0,3,2,32,30.6,24
3,3,2014-12-02,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.NEW_ORLEANS_PELICANS,Outcome.LOSS,1982,6,20,1,...,1,5,7,2,0,7,3,21,9.9,-16
4,4,2014-12-05,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PHILADELPHIA_76ERS,Outcome.WIN,1843,8,14,1,...,0,5,7,2,0,6,3,27,20.0,11
5,5,2014-12-07,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.DETROIT_PISTONS,Outcome.WIN,2080,9,19,1,...,1,10,7,0,0,4,1,22,15.3,-9
6,6,2014-12-09,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.MILWAUKEE_BUCKS,Outcome.WIN,1927,8,16,0,...,2,3,7,3,0,5,5,28,22.0,24
7,7,2014-12-11,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.CLEVELAND_CAVALIERS,Outcome.WIN,2145,12,24,0,...,1,6,8,1,0,4,0,26,19.1,5
8,8,2014-12-12,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.MINNESOTA_TIMBERWOLVES,Outcome.WIN,2145,12,19,2,...,1,5,6,2,0,4,3,34,28.3,16
9,9,2014-12-14,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.PHOENIX_SUNS,Outcome.WIN,1591,7,18,1,...,4,4,8,2,0,3,2,28,26.0,17

In [30]:
westbrook_df.sample(10)

,Unnamed: 0,date,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus
164,17,2016-11-26,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.DETROIT_PISTONS,Outcome.WIN,2239,8,22,0,...,3,10,15,1,1,5,2,17,15.9,14
190,43,2017-01-18,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.GOLDEN_STATE_WARRIORS,Outcome.LOSS,2114,8,23,1,...,4,11,13,2,2,10,5,27,20.3,-19
219,72,2017-03-27,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.DALLAS_MAVERICKS,Outcome.WIN,2181,15,30,2,...,0,13,10,2,0,6,0,37,28.9,12
58,58,2015-03-29,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PHOENIX_SUNS,Outcome.WIN,2268,10,29,1,...,2,7,7,3,1,4,3,33,22.8,8
50,50,2015-03-15,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.CHICAGO_BULLS,Outcome.WIN,2445,12,27,2,...,1,10,6,1,0,4,1,36,25.2,13
207,60,2017-03-02,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PORTLAND_TRAIL_BLAZERS,Outcome.LOSS,2212,12,36,6,...,2,5,4,1,1,4,0,45,28.0,-7
8,8,2014-12-12,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.MINNESOTA_TIMBERWOLVES,Outcome.WIN,2145,12,19,2,...,1,5,6,2,0,4,3,34,28.3,16
116,49,2016-02-01,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.WASHINGTON_WIZARDS,Outcome.WIN,2168,8,13,0,...,1,12,11,1,0,5,2,17,18.3,14
71,4,2015-11-04,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.TORONTO_RAPTORS,Outcome.LOSS,2120,8,21,3,...,0,5,16,2,0,8,4,22,15.2,3
363,55,2019-03-05,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.MINNESOTA_TIMBERWOLVES,Outcome.LOSS,2307,15,28,5,...,2,11,6,0,0,2,3,38,28.5,-2

In [37]:
westbrook_df.dtypes

Unnamed: 0                             int64
date                                  object
team                                  object
location                              object
opponent                              object
outcome                               object
seconds_played                         int64
made_field_goals                       int64
attempted_field_goals                  int64
made_three_point_field_goals           int64
attempted_three_point_field_goals      int64
made_free_throws                       int64
attempted_free_throws                  int64
offensive_rebounds                     int64
defensive_rebounds                     int64
assists                                int64
steals                                 int64
blocks                                 int64
turnovers                              int64
personal_fouls                         int64
points_scored                          int64
game_score                           float64
plus_minus                             int64
dtype: object

## Get list of player_id's & player_names

In [38]:
advanced_stats_2019_path = 'Sample_Files/advanced_season_totals_2019.csv'
advanced_2019 = pd.read_csv(advanced_stats_2019_path)
advanced_2019.head()

,Unnamed: 0,slug,name,positions,age,team,games_played,minutes_played,player_efficiency_rating,true_shooting_percentage,...,turnover_percentage,usage_percentage,offensive_win_shares,defensive_win_shares,win_shares,win_shares_per_48_minutes,offensive_box_plus_minus,defensive_box_plus_minus,box_plus_minus,value_over_replacement_player
0,0,abrinal01,Álex Abrines,[<Position.SHOOTING_GUARD: 'SHOOTING GUARD'>],25,Team.OKLAHOMA_CITY_THUNDER,31,588,6.3,0.507,...,7.9,12.2,0.1,0.6,0.6,0.053,-2.4,-0.9,-3.4,-0.2
1,1,acyqu01,Quincy Acy,[<Position.POWER_FORWARD: 'POWER FORWARD'>],28,Team.PHOENIX_SUNS,10,123,2.9,0.379,...,15.2,9.2,-0.1,0.0,-0.1,-0.022,-5.7,-0.3,-5.9,-0.1
2,2,adamsja01,Jaylen Adams,[<Position.POINT_GUARD: 'POINT GUARD'>],22,Team.ATLANTA_HAWKS,34,428,7.6,0.474,...,19.7,13.5,-0.1,0.2,0.1,0.011,-3.1,-1.3,-4.4,-0.3
3,3,adamsst01,Steven Adams,[<Position.CENTER: 'CENTER'>],25,Team.OKLAHOMA_CITY_THUNDER,80,2669,18.5,0.591,...,12.6,16.4,5.1,4.0,9.1,0.163,0.6,2.1,2.7,3.2
4,4,adebaba01,Bam Adebayo,[<Position.CENTER: 'CENTER'>],21,Team.MIAMI_HEAT,82,1913,17.9,0.623,...,17.1,15.8,3.4,3.4,6.8,0.171,-0.6,3.6,3.0,2.4

In [42]:
player_ids = advanced_2019['slug'].to_list()
print(len(player_ids))
print(player_ids[:5])

622
['abrinal01', 'acyqu01', 'adamsja01', 'adamsst01', 'adebaba01']

In [43]:
player_names = advanced_2019['name'].to_list()
print(len(player_names))
print(player_names[:5])

622
['Álex Abrines', 'Quincy Acy', 'Jaylen Adams', 'Steven Adams', 'Bam Adebayo']

In [44]:
## Function to get all players box scores for x years - Work In Progress

## Export each player's file to csv
def export_csv(i):
    
    name = str(player_names[i]).replace(' ','')
    filename = 'PlayerBoxScores/'+name+'.csv'   
    df.to_csv(filename)