# Game Matching

In [1]:
import pandas as pd
import numpy as np

In [31]:
schedule_lineup = pd.read_csv('../Resources/encoded_lineup.csv')
schedule_lineup.head(2)

,Unnamed: 0,Unnamed: 0.1,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome,spread
0,29,29,2013-01-01,ATL,A. Horford,K. Korver,J. Smith,J. Teague,L. Williams,460.0,AWAY,WIN,9.0
1,30,30,2013-01-04,ATL,A. Horford,K. Korver,J. Smith,J. Teague,L. Williams,480.0,AWAY,LOSS,1.0

In [182]:
encoded_box_scores = pd.read_csv('../Resources/encoded_box_scores.csv')

### Drop unnecessary columns

In [32]:
schedule_lineup.drop(schedule_lineup.columns[0:2], axis=1, inplace=True)

In [33]:
schedule_lineup.dtypes

date         object
Team         object
Player1      object
Player2      object
Player3      object
Player4      object
Player5      object
game_id     float64
Location     object
Outcome      object
spread      float64
dtype: object

In [34]:
schedule_lineup.date = pd.to_datetime(schedule_lineup.date)

In [35]:
schedule_lineup.sort_values('date', ascending=True, inplace=True)

In [245]:
schedule_lineup.game_id = schedule_lineup.game_id.astype('int')

In [268]:
schedule_lineup.to_csv('../Resources/schedule_lineup.csv')

In [247]:
schedule_lineup.head()

,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome,spread
0,2013-01-01,ATL,A. Horford,K. Korver,J. Smith,J. Teague,L. Williams,460,AWAY,WIN,9.0
3803,2013-01-01,DET,B. Knight,J. Maxiell,G. Monroe,T. Prince,K. Singler,458,HOME,WIN,6.0
12503,2013-01-01,SAC,D. Cousins,F. García,J. Salmons,I. Thomas,J. Thompson,458,AWAY,LOSS,6.0
9242,2013-01-01,NYK,C. Anthony,R. Brewer,T. Chandler,J. Kidd,K. Thomas,459,HOME,LOSS,5.0
11958,2013-01-01,POR,L. Aldridge,N. Batum,J. Hickson,D. Lillard,W. Matthews,459,AWAY,WIN,5.0

In [243]:
def todays_games(date):
    todays_games = list(set(schedule_lineup[schedule_lineup.date==date]['game_id'].to_list()))
    return todays_games

In [248]:
todays_games('2013-11-03')

[1355, 1356, 1357, 1358, 1359, 1360]

In [255]:
def home_team_starters(game_id):
    home_row = schedule_lineup[(schedule_lineup.game_id==game_id) & (schedule_lineup.Location == 'HOME')]
    home_lineup = list(list(home_row.values)[0][2:7])
    return home_lineup

def away_team_starters(game_id):
    away_row = schedule_lineup[(schedule_lineup.game_id==game_id) & (schedule_lineup.Location == 'AWAY')]
    list_of_opponents = list(list(away_row.values)[0][2:7])
    return list_of_opponents

In [254]:
home_team_starters(1355)

['C. Billups', 'W. Bynum', 'A. Drummond', 'G. Monroe', 'J. Smith']

In [256]:
away_team_starters(1355)

['B. Bass', 'A. Bradley', 'V. Faverani', 'J. Green', 'G. Wallace']

In [ ]:
def

### Convert Lineup to Slug

In [159]:
name_all_formats = pd.read_csv('../Resources/players_year_lineupname.csv')
name_all_formats.head(2)

   Unnamed: 0           name       slug  year             Team Lineup_name
0           0    Jeff Adrien  adrieje01  2012  HOUSTON_ROCKETS   J. Adrien
1           1  Arron Afflalo  afflaar01  2012   DENVER_NUGGETS  A. Afflalo

In [160]:
name_all_formats.drop(name_all_formats.columns[0],axis=1, inplace=True)
name_all_formats.drop_duplicates(inplace=True)
name_all_formats.head(2)

            name       slug  year             Team Lineup_name
0    Jeff Adrien  adrieje01  2012  HOUSTON_ROCKETS   J. Adrien
1  Arron Afflalo  afflaar01  2012   DENVER_NUGGETS  A. Afflalo

In [166]:
name_all_formats[(name_all_formats.Lineup_name =='D. Wade') & (name_all_formats.year == 2014)]

             name      slug  year        Team Lineup_name
1552  Dwyane Wade  wadedw01  2014  MIAMI_HEAT     D. Wade

In [175]:
team_to_abbr_dict = {'ATLANTA_HAWKS': 'ATL',
 'BOSTON_CELTICS': 'BOS',
 'BROOKLYN_NETS': 'BRK', 
 'NEW_JERSEY_NETS': 'BRK',                  
 'CHARLOTTE_BOBCATS': 'CHO',
 'CHARLOTTE_HORNETS': 'CHO',
 'CHICAGO_BULLS': 'CHI',
 'CLEVELAND_CAVALIERS': 'CLE',
 'DALLAS_MAVERICKS': 'DAL',
 'DENVER_NUGGETS': 'DEN',
 'DETROIT_PISTONS': 'DET',
 'GOLDEN_STATE_WARRIORS': 'GSW',
 'HOUSTON_ROCKETS': 'HOU',
 'INDIANA_PACERS': 'IND',
 'LOS_ANGELES_CLIPPERS': 'LAC',
 'LOS_ANGELES_LAKERS': 'LAL',
 'MEMPHIS_GRIZZLIES': 'MEM',
 'MIAMI_HEAT': 'MIA',
 'MILWAUKEE_BUCKS': 'MIL',
 'MINNESOTA_TIMBERWOLVES': 'MIN',
 'NEW_ORLEANS_HORNETS': 'NOP',
 'NEW_ORLEANS_PELICANS': 'NOP',
 'NEW_YORK_KNICKS': 'NYK',
 'OKLAHOMA_CITY_THUNDER': 'OKC',
 'ORLANDO_MAGIC': 'ORL',
 'PHILADELPHIA_76ERS': 'PHI',
 'PHOENIX_SUNS': 'PHO',
 'PORTLAND_TRAIL_BLAZERS': 'POR',
 'SACRAMENTO_KINGS': 'SAC',
 'SAN_ANTONIO_SPURS': 'SAS',
 'TORONTO_RAPTORS': 'TOR',
 'UTAH_JAZZ': 'UTA',
 'WASHINGTON_WIZARDS': 'WAS'}

In [178]:
name_all_formats.Team = name_all_formats.Team.apply(lambda x: team_to_abbr_dict[x])

In [266]:
name_all_formats.head(2)

            name       slug  year Team Lineup_name
0    Jeff Adrien  adrieje01  2012  HOU   J. Adrien
1  Arron Afflalo  afflaar01  2012  DEN  A. Afflalo

In [267]:
name_all_formats.to_csv('../Resources/name_all_formats.csv')

## Function to find ```slug``` given ```year```, ```team``` and ```lineup_name```

In [257]:
# def slug_finder(year, team, lineup_name):
#     slug = name_all_formats[(name_all_formats.year == year) & 
#                             (name_all_formats.Lineup_name==lineup_name) & 
#                             (name_all_formats.Team==team)].iat[0,1]
#     return slug

In [264]:
def slug_finder(team, lineup_name):
    slug = name_all_formats[(name_all_formats.Lineup_name==lineup_name) & 
                            (name_all_formats.Team==team)].iat[0,1]
    return slug

In [265]:
slug_finder('NYK','J. Smith')

'smithjr01'

## Function to match games among given slugs

In [183]:
encoded_box_scores.head(2)

,Unnamed: 0,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id,spread
0,0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,...,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,459,5
1,1,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,...,8.0,5.0,3.0,0.0,2.0,2.0,24.0,2013-01-01,459,5

In [187]:
encoded_box_scores[encoded_box_scores.slug == 'duranke01']['game_id'].to_list()[3]

574

In [200]:
from collections import Counter

In [234]:
def get_game_ids(slug):
    game_ids = encoded_box_scores[encoded_box_scores.slug == slug]['game_id'].to_list()
    return game_ids

def opponent_in_games(list_of_opponents):
    opponent_ids = encoded_box_scores[encoded_box_scores.slug.isin(list_of_opponents)]['game_id'].to_list()
    return opponent_ids

def common_games(game_ids, opponent_ids):
    common_games = [value for value in opponent_ids if value in game_ids]
    return common_games

def calculate_matchup_box_scores(slug, common_games):
    average_scores = encoded_box_scores[(encoded_box_scores.slug==slug) & (encoded_box_scores.game_id.isin(common_games))].mean()
    list_of_averages = list(average_scores[1:-2])
    return list_of_averages

In [219]:
list_of_ids = opponent_in_games(['duranke01'])[:5]
list_of_ids

[471, 484, 521, 574, 681]

In [212]:
a = dict(Counter(list_of_ids))
a[471]

3

In [216]:
### TEST CASE

def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3 
  
# Driver Code 
lst1 = [4, 9, 1,9, 9,9,17, 11, 26, 28, 54, 69] 
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26] 
print(intersection(lst1, lst2))

[9, 9, 9, 9, 11, 26, 28]

In [226]:
encoded_box_scores[(encoded_box_scores.slug=='duranke01') & 
                   (encoded_box_scores.game_id.isin(list_of_ids))]

,Unnamed: 0,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id,spread
69,69,duranke01,Kevin Durant,OKLAHOMA_CITY_THUNDER,HOME,BROOKLYN_NETS,LOSS,2481.0,11.0,17.0,...,5.0,5.0,2.0,0.0,5.0,3.0,19.9,2013-01-02,471,17
213,213,duranke01,Kevin Durant,OKLAHOMA_CITY_THUNDER,HOME,PHILADELPHIA_76ERS,WIN,2164.0,8.0,15.0,...,6.0,3.0,1.0,0.0,2.0,0.0,21.2,2013-01-04,484,24
616,616,duranke01,Kevin Durant,OKLAHOMA_CITY_THUNDER,HOME,MINNESOTA_TIMBERWOLVES,WIN,2045.0,10.0,17.0,...,8.0,3.0,3.0,4.0,3.0,2.0,24.6,2013-01-09,521,22
1197,1197,duranke01,Kevin Durant,OKLAHOMA_CITY_THUNDER,HOME,DENVER_NUGGETS,WIN,1715.0,7.0,12.0,...,2.0,4.0,5.0,0.0,3.0,2.0,18.6,2013-01-16,574,20
2369,2369,duranke01,Kevin Durant,OKLAHOMA_CITY_THUNDER,HOME,MEMPHIS_GRIZZLIES,WIN,2271.0,10.0,16.0,...,7.0,6.0,1.0,1.0,2.0,1.0,24.6,2013-01-31,681,17

In [228]:
average_stats = encoded_box_scores[(encoded_box_scores.slug=='duranke01') & 
                   (encoded_box_scores.game_id.isin(list_of_ids))].mean()
average_stats

Unnamed: 0                            892.80
seconds_played                       2135.20
made_field_goals                        9.20
attempted_field_goals                  15.40
made_three_point_field_goals            1.40
attempted_three_point_field_goals       4.00
made_free_throws                        5.40
attempted_free_throws                   6.40
offensive_rebounds                      0.00
defensive_rebounds                      5.60
assists                                 4.20
steals                                  2.40
blocks                                  1.00
turnovers                               3.00
personal_fouls                          1.60
game_score                             21.78
game_id                               546.20
spread                                 20.00
dtype: float64

In [233]:
list(average_stats[1:-2])

[2135.2,
 9.2,
 15.4,
 1.4,
 4.0,
 5.4,
 6.4,
 0.0,
 5.6,
 4.2,
 2.4,
 1.0,
 3.0,
 1.6,
 21.779999999999994]