# Joining Schedule with Starting Lineup

In [1]:
import pandas as pd
import numpy as np

In [2]:
encoded_schedule = pd.read_csv('../Resources/encoded_schedule.csv')
starting_lineups = pd.read_csv('../Resources/starting_lineup_2013_2020.csv')

In [3]:
encoded_schedule.head(2)

,Unnamed: 0,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
0,0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84,94,1,10
1,1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107,120,2,13

In [32]:
len(encoded_schedule[(encoded_schedule.date1=='2013-11-05') | (encoded_schedule.date1=='2013-11-04')])

7

In [33]:
encoded_schedule[(encoded_schedule.date1=='2013-11-0') | (encoded_schedule.date1=='2013-11-01')]

,Unnamed: 0,date1,date2,away,home,away_team_score,home_team_score,game_id,spread
1331,1331,2013-11-01,2013-10-31,NEW_YORK_KNICKS,CHICAGO_BULLS,81,82,1332,1
1332,1332,2013-11-01,2013-10-31,GOLDEN_STATE_WARRIORS,LOS_ANGELES_CLIPPERS,115,126,1333,11
1333,1333,2013-11-01,2013-10-31,CLEVELAND_CAVALIERS,CHARLOTTE_BOBCATS,84,90,1334,6
1334,1334,2013-11-01,2013-10-31,NEW_ORLEANS_PELICANS,ORLANDO_MAGIC,90,110,1335,20
1335,1335,2013-11-01,2013-10-31,PHILADELPHIA_76ERS,WASHINGTON_WIZARDS,109,102,1336,7
1336,1336,2013-11-01,2013-10-31,TORONTO_RAPTORS,ATLANTA_HAWKS,95,102,1337,7
1337,1337,2013-11-01,2013-10-31,MILWAUKEE_BUCKS,BOSTON_CELTICS,105,98,1338,7

In [5]:
starting_lineups.head(2)

,Unnamed: 0,Game Date,Box Score,Team,Player1,Player2,Player3,Player4,Player5
0,0,2012-11-02,Box Score,ATL,D. Harris,A. Horford,K. Korver,J. Smith,J. Teague
1,1,2012-11-04,Box Score,ATL,A. Horford,K. Korver,D. Stevenson,J. Teague,A. Tolliver

In [179]:
starting_lineups.sort_values('date', ascending=True)

,Unnamed: 0,date,Team,Player1,Player2,Player3,Player4,Player5
2870,0,2012-10-30,DAL,E. Brand,D. Collison,S. Marion,O. Mayo,B. Wright
574,0,2012-10-30,BOS,B. Bass,K. Garnett,C. Lee,P. Pierce,R. Rondo
15498,0,2012-10-30,WAS,T. Ariza,B. Beal,T. Booker,E. Okafor,A. Price
6888,0,2012-10-30,LAL,K. Bryant,P. Gasol,D. Howard,S. Nash,M. World Peace
8036,0,2012-10-30,MIA,S. Battier,C. Bosh,M. Chalmers,L. James,D. Wade
2296,0,2012-10-30,CLE,A. Gee,K. Irving,T. Thompson,A. Varejão,D. Waiters
18146,0,2012-10-31,NOP,A. Aminu,A. Davis,R. Lopez,A. Rivers,G. Vásquez
11480,0,2012-10-31,PHI,L. Allen,J. Holiday,J. Richardson,E. Turner,T. Young
12054,0,2012-10-31,PHO,M. Beasley,G. Dragić,J. Dudley,M. Gortat,L. Scola
13202,0,2012-10-31,SAC,D. Cousins,T. Evans,J. Johnson,I. Thomas,J. Thompson
2871,1,2012-10-31,DAL,E. Brand,D. Collison,S. Marion,O. Mayo,B. Wright
1722,0,2012-10-31,CHI,C. Boozer,L. Deng,R. Hamilton,K. Hinrich,J. Noah
13776,0,2012-10-31,SAS,B. Diaw,T. Duncan,D. Green,K. Leonard,T. Parker
14350,0,2012-10-31,TOR,A. Bargnani,D. DeRozan,L. Fields,K. Lowry,J. Valančiūnas
14924,0,2012-10-31,UTA,G. Hayward,A. Jefferson,P. Millsap,M. Williams,M. Williams
12628,0,2012-10-31,POR,L. Aldridge,N. Batum,J. Hickson,D. Lillard,W. Matthews
3444,0,2012-10-31,DEN,K. Faried,J. Hamilton,A. Iguodala,K. Koufos,T. Lawson
5740,0,2012-10-31,IND,P. George,G. Green,R. Hibbert,G. Hill,D. West
6314,0,2012-10-31,LAC,C. Butler,W. Green,B. Griffin,D. Jordan,C. Paul
4592,0,2012-10-31,GSW,H. Barnes,A. Bogut,S. Curry,D. Lee,K. Thompson
7462,0,2012-10-31,MEM,T. Allen,M. Conley,M. Gasol,R. Gay,Z. Randolph
4018,0,2012-10-31,DET,B. Knight,J. Maxiell,G. Monroe,T. Prince,R. Stuckey
5166,0,2012-10-31,HOU,Ö. Aşık,J. Harden,J. Lin,M. Morris,C. Parsons
6889,1,2012-10-31,LAL,K. Bryant,P. Gasol,D. Howard,S. Nash,M. World Peace
10332,0,2012-11-01,OKC,K. Durant,S. Ibaka,K. Perkins,T. Sefolosha,R. Westbrook
13777,1,2012-11-01,SAS,B. Diaw,T. Duncan,D. Green,K. Leonard,T. Parker
6890,2,2012-11-02,LAL,S. Blake,K. Bryant,P. Gasol,D. Howard,M. World Peace
3445,1,2012-11-02,DEN,K. Faried,D. Gallinari,A. Iguodala,K. Koufos,T. Lawson
1723,1,2012-11-02,CHI,C. Boozer,L. Deng,R. Hamilton,K. Hinrich,J. Noah
14925,1,2012-11-02,UTA,G. Hayward,A. Jefferson,P. Millsap,M. Williams,M. Williams
...,...,...,...,...,...,...,...,...
16920,48,2020-02-02,MIL,G. Antetokounmpo,E. Bledsoe,B. Lopez,W. Matthews,K. Middleton
17270,48,2020-02-02,PHO,D. Ayton,D. Booker,M. Bridges,E. Okobo,K. Oubre
16620,48,2020-02-02,HOU,E. Gordon,J. Harden,D. House,P. Tucker,R. Westbrook
17420,48,2020-02-03,SAS,L. Aldridge,D. DeRozan,B. Forbes,T. Lyles,D. Murray
17271,49,2020-02-03,PHO,D. Ayton,D. Booker,M. Bridges,K. Oubre,R. Rubio
16421,49,2020-02-03,DAL,J. Brunson,D. Finney-Smith,T. Hardaway,M. Kleber,K. Porziņģis
16721,49,2020-02-03,LAC,P. Beverley,P. George,M. Harkless,K. Leonard,I. Zubac
16321,49,2020-02-03,CHO,D. Bacon,M. Bridges,D. Graham,T. Rozier,C. Zeller
16870,48,2020-02-03,MIA,B. Adebayo,J. Butler,M. Leonard,K. Nunn,D. Robinson
16970,48,2020-02-03,MIN,R. Covington,J. Culver,S. Napier,K. Towns,A. Wiggins
17570,48,2020-02-03,WAS,B. Beal,R. Hachimura,I. Mahinmi,G. Payton,I. Thomas
17171,49,2020-02-03,ORL,E. Fournier,M. Fultz,A. Gordon,W. Iwundu,N. Vučević
16220,48,2020-02-03,BRK,J. Allen,S. Dinwiddie,J. Harris,C. LeVert,T. Waller-Prince
16671,49,2020-02-03,IND,M. Brogdon,A. Holiday,J. Lamb,D. Sabonis,M. Turner
17371,49,2020-02-03,SAC,H. Barnes,N. Bjelica,B. Bogdanović,D. Dedmon,D. Fox
16821,49,2020-02-03,MEM,D. Brooks,J. Crowder,J. Jackson,J. Morant,J. Valančiūnas
16170,48,2020-02-03,BOS,J. Brown,J. Green,G. Hayward,J. Tatum,D. Theis
16621,49,2020-02-04,HOU,E. Gordon,J. Harden,D. House,B. McLemore,P. Tucker
17421,49,2020-02-04,SAS,L. Aldridge,D. DeRozan,B. Forbes,T. Lyles,D. Murray
16770,48,2020-02-04,LAL,A. Bradley,A. Davis,D. Green,L. James,J. McGee
16921,49,2020-02-04,MIL,G. Antetokounmpo,E. Bledsoe,B. Lopez,W. Matthews,K. Middleton
16871,49,2020-02-05,MIA,B. Adebayo,J. Butler,K. Nunn,K. Olynyk,D. Robinson
16221,49,2020-02-05,BRK,J. Allen,S. Dinwiddie,J. Harris,C. LeVert,T. Waller-Prince
16971,49,2020-02-05,MIN,J. Culver,K. Martin,J. Okogie,K. Towns,A. Wiggins
17521,49,2020-02-05,UTA,B. Bogdanović,M. Conley,R. Gobert,J. Ingles,D. Mitchell
16171,49,2020-02-05,BOS,J. Brown,G. Hayward,E. Kanter,R. Langford,J. Tatum
16771,49,2020-02-06,LAL,A. Bradley,A. Davis,D. Green,L. James,J. McGee
17571,49,2020-02-07,WAS,B. Beal,I. Bonga,R. Hachimura,I. Mahinmi,I. Smith
655,81,NaN,BOS,NaN,NaN,NaN,NaN,NaN
5821,81,NaN,IND,NaN,NaN,NaN,NaN,NaN

### Check the number of unique games on ```'2013-11-04'```

In [44]:
len(starting_lineups[starting_lineups['Game Date']=='2013-11-04'])

8

In [27]:
encoded_box_scores = pd.read_csv('../Resources/encoded_box_scores.csv')

In [109]:
encoded_box_scores.head(2)

,Unnamed: 0,slug,name,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,game_score,date,game_id,spread
0,0,anthoca01,Carmelo Anthony,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2472.0,14.0,24.0,...,5.0,4.0,1.0,0.0,2.0,3.0,36.5,2013-01-01,459,5
1,1,smithjr01,J.R. Smith,NEW_YORK_KNICKS,HOME,PORTLAND_TRAIL_BLAZERS,LOSS,2413.0,10.0,22.0,...,8.0,5.0,3.0,0.0,2.0,2.0,24.0,2013-01-01,459,5

### Check the number of unique games on ```'2013-11-04'```

In [45]:
len(encoded_box_scores[encoded_box_scores.date=='2013-11-04'][['game_id']].drop_duplicates())

4

In [49]:
starting_lineups.drop(columns=['Box Score'], inplace=True)

In [159]:
starting_lineups.isnull().sum()

Unnamed: 0    0
date          2
Team          0
Player1       2
Player2       2
Player3       2
Player4       2
Player5       2
dtype: int64

In [149]:
starting_lineups.Team.drop_duplicates()

0        ATL
574      BOS
1148     BRK
1722     CHI
2296     CLE
2870     DAL
3444     DEN
4018     DET
4592     GSW
5166     HOU
5740     IND
6314     LAC
6888     LAL
7462     MEM
8036     MIA
8610     MIL
9184     MIN
9758     NYK
10332    OKC
10906    ORL
11480    PHI
12054    PHO
12628    POR
13202    SAC
13776    SAS
14350    TOR
14924    UTA
15498    WAS
16272    CHO
16972    NOP
Name: Team, dtype: object

In [150]:
starting_lineup_encoder = encoded_box_scores[['Team','date','game_id','Location','Outcome']].copy()
print(len(starting_lineup_encoder))
starting_lineup_encoder.drop_duplicates(inplace=True)
print(len(starting_lineup_encoder))

200897
19008

This makes sense since around 10 players per team are active in any given game.

In [176]:
starting_lineup_encoder.head(2)

  Team        date  game_id Location Outcome
0  NYK  2013-01-01      459     HOME    LOSS
2  LAL  2013-01-01      462     HOME    LOSS

In [177]:
starting_lineup_encoder.tail(2)

       Team        date  game_id Location Outcome
200847  PHI  2020-02-06     9958     AWAY    LOSS
200849  NOP  2020-02-06     9957     AWAY     WIN

In [152]:
team_to_abbr_dict = {'ATLANTA_HAWKS': 'ATL',
 'BOSTON_CELTICS': 'BOS',
 'BROOKLYN_NETS': 'BRK',
 'CHARLOTTE_BOBCATS': 'CHO',
 'CHARLOTTE_HORNETS': 'CHO',
 'CHICAGO_BULLS': 'CHI',
 'CLEVELAND_CAVALIERS': 'CLE',
 'DALLAS_MAVERICKS': 'DAL',
 'DENVER_NUGGETS': 'DEN',
 'DETROIT_PISTONS': 'DET',
 'GOLDEN_STATE_WARRIORS': 'GSW',
 'HOUSTON_ROCKETS': 'HOU',
 'INDIANA_PACERS': 'IND',
 'LOS_ANGELES_CLIPPERS': 'LAC',
 'LOS_ANGELES_LAKERS': 'LAL',
 'MEMPHIS_GRIZZLIES': 'MEM',
 'MIAMI_HEAT': 'MIA',
 'MILWAUKEE_BUCKS': 'MIL',
 'MINNESOTA_TIMBERWOLVES': 'MIN',
 'NEW_ORLEANS_HORNETS': 'NOP',
 'NEW_ORLEANS_PELICANS': 'NOP',
 'NEW_YORK_KNICKS': 'NYK',
 'OKLAHOMA_CITY_THUNDER': 'OKC',
 'ORLANDO_MAGIC': 'ORL',
 'PHILADELPHIA_76ERS': 'PHI',
 'PHOENIX_SUNS': 'PHO',
 'PORTLAND_TRAIL_BLAZERS': 'POR',
 'SACRAMENTO_KINGS': 'SAC',
 'SAN_ANTONIO_SPURS': 'SAS',
 'TORONTO_RAPTORS': 'TOR',
 'UTAH_JAZZ': 'UTA',
 'WASHINGTON_WIZARDS': 'WAS'}

In [153]:
len(starting_lineup_encoder[['Team']].drop_duplicates())

32

In [154]:
starting_lineup_encoder.head()

                  Team        date  game_id Location Outcome
0      NEW_YORK_KNICKS  2013-01-01      459     HOME    LOSS
2   LOS_ANGELES_LAKERS  2013-01-01      462     HOME    LOSS
3  NEW_ORLEANS_HORNETS  2013-01-01      460     HOME    LOSS
5      DETROIT_PISTONS  2013-01-01      458     HOME     WIN
7       DENVER_NUGGETS  2013-01-01      461     HOME     WIN

In [155]:
starting_lineup_encoder.Team = starting_lineup_encoder.Team.apply(lambda x: team_to_abbr_dict[x])
starting_lineup_encoder.head()

  Team        date  game_id Location Outcome
0  NYK  2013-01-01      459     HOME    LOSS
2  LAL  2013-01-01      462     HOME    LOSS
3  NOP  2013-01-01      460     HOME    LOSS
5  DET  2013-01-01      458     HOME     WIN
7  DEN  2013-01-01      461     HOME     WIN

In [126]:
starting_lineups.rename(columns = {'Game Date':'date'}, inplace=True)

In [156]:
starting_lineups.dtypes

Unnamed: 0     int64
date          object
Team          object
Player1       object
Player2       object
Player3       object
Player4       object
Player5       object
dtype: object

In [157]:
encoded_lineup = pd.merge(starting_lineups,starting_lineup_encoder,on=['date','Team'],how='left')
encoded_lineup.sample(20)

,Unnamed: 0,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome
2105,55,2017-02-14,CHI,J. Butler,M. Carter-Williams,T. Gibson,J. Grant,R. Lopez,6091.0,HOME,WIN
1100,34,2018-12-29,BOS,A. Horford,K. Irving,M. Morris,M. Smart,J. Tatum,8412.0,AWAY,WIN
7925,53,2018-02-07,MEM,D. Brooks,M. Gasol,J. Green,A. Harrison,J. Martin,7377.0,HOME,LOSS
4300,36,2016-01-09,DET,K. Caldwell-Pope,A. Drummond,E. İlyasova,R. Jackson,S. Johnson,4497.0,HOME,WIN
5452,40,2016-01-15,HOU,T. Ariza,P. Beverley,C. Capela,J. Harden,D. Howard,4545.0,HOME,LOSS
15949,41,2018-01-12,WAS,B. Beal,M. Gortat,M. Morris,O. Porter,J. Wall,7189.0,HOME,WIN
13486,38,2016-01-14,SAC,W. Cauley-Stein,D. Cousins,R. Gay,B. McLemore,R. Rondo,4535.0,AWAY,WIN
8647,37,2013-01-17,MIL,M. Ellis,E. İlyasova,B. Jennings,L. Mbah a Moute,L. Sanders,581.0,AWAY,WIN
485,75,2018-03-30,ATL,J. Collins,D. Dedmon,D. Lee,I. Taylor,T. Waller-Prince,7699.0,HOME,LOSS
9973,51,2015-02-09,NYK,L. Amundson,C. Anthony,J. Calderón,L. Galloway,J. Smith,3408.0,AWAY,LOSS
17169,47,2020-01-27,ORL,K. Birch,E. Fournier,M. Fultz,A. Gordon,N. Vučević,9887.0,AWAY,LOSS
4346,0,2016-10-26,DET,K. Caldwell-Pope,A. Drummond,T. Harris,M. Morris,I. Smith,5267.0,AWAY,LOSS
13547,17,2016-11-28,SAC,A. Afflalo,D. Collison,D. Cousins,R. Gay,K. Koufos,5513.0,AWAY,LOSS
2708,2,2017-10-21,CLE,J. Calderón,J. Crowder,L. James,K. Love,D. Wade,6598.0,HOME,LOSS
9265,81,2013-04-17,MIN,A. Kirilenko,L. Ridnour,R. Rubio,G. Stiemsma,D. Williams,1225.0,AWAY,WIN
13477,29,2015-12-27,SAC,O. Casspi,D. Cousins,R. Gay,B. McLemore,R. Rondo,4401.0,HOME,LOSS
12658,30,2013-01-02,POR,L. Aldridge,N. Batum,J. Hickson,D. Lillard,W. Matthews,466.0,AWAY,LOSS
17579,7,2012-11-17,CHO,B. Haywood,M. Kidd-Gilchrist,B. Mullens,J. Taylor,K. Walker,NaN,NaN,NaN
8916,60,2016-03-02,MIL,G. Antetokounmpo,O. Mayo,K. Middleton,J. Parker,M. Plumlee,4847.0,HOME,LOSS
12950,76,2016-04-02,POR,A. Aminu,M. Harkless,D. Lillard,C. McCollum,M. Plumlee,5086.0,HOME,WIN

In [158]:
encoded_lineup.isnull().sum()

Unnamed: 0      0
date            2
Team            0
Player1         2
Player2         2
Player3         2
Player4         2
Player5         2
game_id       915
Location      915
Outcome       915
dtype: int64

In [167]:
teams_with_nulls = encoded_lineup[encoded_lineup.game_id.isnull()][['Team']].copy()

In [175]:
teams_with_nulls['Team'].value_counts()

SAS    33
DET    33
IND    32
PHO    32
UTA    32
CLE    32
DEN    32
BRK    31
PHI    31
TOR    31
GSW    31
ORL    31
HOU    31
BOS    31
LAC    31
DAL    31
CHO    31
SAC    30
NOP    30
NYK    30
OKC    30
LAL    30
POR    29
MIA    29
WAS    29
MIL    29
ATL    29
CHI    29
MEM    28
MIN    27
Name: Team, dtype: int64

In [118]:
spread_encoder = encoded_schedule[['spread','game_id']].copy()
print(len(spread_encoder))

10422

In [180]:
fully_encoded_lineup = pd.merge(encoded_lineup,spread_encoder,on=['game_id'], how='left')
fully_encoded_lineup.sample(30)

,Unnamed: 0,date,Team,Player1,Player2,Player3,Player4,Player5,game_id,Location,Outcome,spread
9986,64,2015-03-14,NYK,L. Amundson,A. Bargnani,L. Galloway,A. Shved,L. Thomas,3613.0,AWAY,LOSS,31.0
11558,78,2013-04-12,PHI,S. Hawes,J. Holiday,E. Turner,D. Wilkins,T. Young,1178.0,AWAY,WIN,11.0
12188,52,2014-02-19,PHO,G. Dragić,C. Frye,G. Green,M. Plumlee,P. Tucker,2119.0,HOME,WIN,6.0
17633,61,2013-03-08,CHO,B. Biyombo,G. Henderson,M. Kidd-Gilchrist,B. Mullens,K. Walker,915.0,HOME,LOSS,22.0
6293,61,2019-02-27,IND,B. Bogdanović,D. Collison,W. Matthews,M. Turner,T. Young,8798.0,AWAY,LOSS,9.0
1870,66,2014-03-17,CHI,C. Boozer,J. Butler,M. Dunleavy,K. Hinrich,J. Noah,2311.0,HOME,LOSS,12.0
6597,37,2016-01-10,LAC,D. Jordan,L. Mbah a Moute,C. Paul,P. Pierce,J. Redick,4501.0,HOME,WIN,3.0
12441,59,2017-02-28,PHO,E. Bledsoe,D. Booker,M. Chriss,A. Len,T. Warren,6152.0,AWAY,LOSS,18.0
15913,5,2017-10-29,WAS,B. Beal,M. Gortat,K. Oubre,O. Porter,J. Wall,6658.0,AWAY,WIN,27.0
5247,81,2013-04-17,HOU,Ö. Aşık,J. Harden,J. Lin,C. Parsons,G. Smith,1227.0,AWAY,LOSS,4.0
4436,8,2017-11-03,DET,A. Bradley,A. Drummond,T. Harris,R. Jackson,S. Johnson,6688.0,HOME,WIN,9.0
5793,53,2013-02-20,IND,P. George,R. Hibbert,G. Hill,L. Stephenson,D. West,799.0,HOME,WIN,34.0
12273,55,2015-02-21,PHO,E. Bledsoe,G. Green,A. Len,M. Morris,P. Tucker,3449.0,AWAY,LOSS,5.0
2481,21,2014-12-12,CLE,K. Irving,L. James,K. Love,S. Marion,A. Varejão,2969.0,AWAY,LOSS,5.0
7443,63,2019-03-04,LAL,R. Bullock,L. James,K. Kuzma,J. McGee,R. Rondo,8839.0,HOME,LOSS,8.0
5619,43,2018-01-20,HOU,R. Anderson,C. Capela,J. Harden,L. Mbah a Moute,C. Paul,7248.0,HOME,WIN,8.0
4562,52,2019-02-05,DET,B. Brown,R. Bullock,A. Drummond,B. Griffin,R. Jackson,8680.0,AWAY,WIN,13.0
14897,55,2019-02-07,TOR,D. Green,S. Ibaka,K. Lowry,P. Siakam,F. VanVleet,8694.0,AWAY,WIN,18.0
6080,12,2016-11-18,IND,M. Ellis,C. Miles,J. Teague,M. Turner,T. Young,5435.0,HOME,LOSS,20.0
11993,21,2018-11-25,PHI,J. Butler,W. Chandler,J. Embiid,J. Redick,B. Simmons,8170.0,AWAY,WIN,2.0
4991,71,2017-03-24,GSW,S. Curry,D. Green,P. McCaw,Z. Pachulia,K. Thompson,6339.0,HOME,WIN,14.0
16492,20,2019-12-03,DET,B. Brown,A. Drummond,B. Griffin,L. Kennard,T. Snell,9492.0,AWAY,WIN,33.0
14988,64,2013-03-13,UTA,D. Carroll,R. Foye,A. Jefferson,P. Millsap,M. Williams,962.0,AWAY,LOSS,23.0
6932,44,2013-01-29,LAL,K. Bryant,E. Clark,D. Howard,S. Nash,M. World Peace,668.0,HOME,WIN,5.0
1807,3,2013-11-06,CHI,C. Boozer,J. Butler,L. Deng,J. Noah,D. Rose,1375.0,AWAY,LOSS,17.0
12504,40,2018-01-05,PHO,D. Booker,T. Chandler,M. Chriss,J. Jackson,T. Ulis,7142.0,AWAY,LOSS,14.0
6608,48,2016-02-03,LAC,D. Jordan,L. Mbah a Moute,C. Paul,P. Pierce,J. Redick,4688.0,HOME,LOSS,6.0
14235,49,2018-01-24,SAS,K. Anderson,D. Bertāns,P. Gasol,D. Green,D. Murray,7276.0,AWAY,WIN,23.0
8392,28,2016-12-20,MIA,G. Dragić,J. McRoberts,J. Richardson,H. Whiteside,J. Winslow,5679.0,HOME,LOSS,6.0
5324,76,2014-04-08,HOU,Ö. Aşık,J. Harden,T. Jones,J. Lin,C. Parsons,2475.0,AWAY,WIN,15.0

In [181]:
fully_encoded_lineup.isnull().sum()

Unnamed: 0      0
date            2
Team            0
Player1         2
Player2         2
Player3         2
Player4         2
Player5         2
game_id       915
Location      915
Outcome       915
spread        915
dtype: int64

In [182]:
fully_encoded_lineup.dropna(inplace=True)

In [183]:
fully_encoded_lineup.isnull().sum()

Unnamed: 0    0
date          0
Team          0
Player1       0
Player2       0
Player3       0
Player4       0
Player5       0
game_id       0
Location      0
Outcome       0
spread        0
dtype: int64

In [184]:
len(fully_encoded_lineup)

17805