# Starting Lineup Converter

In [2]:
from basketball_reference_web_scraper import client
import pandas as pd
import numpy as np

## Player Name Converter

In [20]:
def get_ids(year):
    df = pd.DataFrame(client.players_season_totals(year))
    new_df = df[['name','slug']].copy()
    return new_df

In [52]:
name_index = get_ids(2020)
name = name_index["name"].str.split(" ", n = -1, expand = True)
name.columns = ['first','last']
name['Lineup_name'] = name['first'].str[0]+'. '+ name['last'].str[:]

lineup_df = pd.concat([name_index, name], axis='columns')
lineup_df.drop(columns=['first','last','slug'], inplace=True)
lineup_df.head()

                       name          Lineup_name
0              Steven Adams             S. Adams
1               Bam Adebayo           B. Adebayo
2         LaMarcus Aldridge          L. Aldridge
3  Nickeil Alexander-Walker  N. Alexander-Walker
4             Grayson Allen             G. Allen

In [58]:
lineup_df.index = lineup_df['Lineup_name']
lineup_df.drop(columns=['Lineup_name'],inplace=True)
player_dict = lineup_df.T.to_dict('list')

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  This is separate from the ipykernel package so we can avoid doing imports until

In [62]:
def name_converter(string):
    name = player_dict[string]
    return name

In [63]:
name_converter('L. Aldridge')

['LaMarcus Aldridge']

## Team to Player Name

In [83]:
starting_lineup = pd.read_csv('../Resources/sample_lineup.csv')
starting_lineup.head()

,Unnamed: 0,TEAM,PG,SG,SF,PF,C
0,0,Atlanta,T. Young,K. Huerter,D. Hunter,J. Collins,C. Capela
1,1,Boston,K. Walker,J. Brown,J. Tatum,G. Hayward,D. Theis
2,2,Brooklyn,K. Irving,J. Harris,C. LeVert,T. Prince,J. Allen
3,3,Charlotte,D. Graham,T. Rozier,M. Bridges,P. Washington,C. Zeller
4,4,Chicago,T. Satoransky,Z. LaVine,K. Dunn,L. Markkanen,L. Kornet

In [84]:
starting_lineup.TEAM = starting_lineup.TEAM.str.upper()

In [85]:
starting_lineup.index = starting_lineup.TEAM
starting_lineup = starting_lineup[['PG','SG', 'SF','PF','C']]

In [87]:
starting_lineup[starting_lineup.index == 'ATLANTA']

               PG          SG         SF          PF          C
TEAM
ATLANTA  T. Young  K. Huerter  D. Hunter  J. Collins  C. Capela

In [80]:
schedule = pd.read_csv('../Resources/game_schedule_13-current.csv')
schedule.head()

,Unnamed: 0,start_time,away_team,home_team,away_team_score,home_team_score
0,0,2012-10-30 23:00:00+00:00,Team.WASHINGTON_WIZARDS,Team.CLEVELAND_CAVALIERS,84.0,94.0
1,1,2012-10-31 00:00:00+00:00,Team.BOSTON_CELTICS,Team.MIAMI_HEAT,107.0,120.0
2,2,2012-10-31 02:30:00+00:00,Team.DALLAS_MAVERICKS,Team.LOS_ANGELES_LAKERS,99.0,91.0
3,3,2012-10-31 23:00:00+00:00,Team.INDIANA_PACERS,Team.TORONTO_RAPTORS,90.0,88.0
4,4,2012-10-31 23:00:00+00:00,Team.DENVER_NUGGETS,Team.PHILADELPHIA_76ERS,75.0,84.0