# Starting Lineup Converter

In [6]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../Scripts')
import starting_lineup_functions as slfx

## Make **'PLAYER_DICT'**

In [13]:
players = pd.read_csv('../Resources/active_players.csv')
players.index = players['Lineup_name']
players.drop(columns=['Lineup_name'], inplace=True)

In [15]:
players = players[['name']]
players.columns = ['player_name']

In [22]:
players.describe()

          player_name
count            1237
unique           1233
top     Chris Johnson
freq                2

In [17]:
PLAYER_DICT = players.T.to_dict('list')

C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  """Entry point for launching an IPython kernel.

In [1]:
import sys
sys.path.append('../Scripts')
import starting_lineup_functions as slfx

../Scripts\starting_lineup_functions.py:11: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  PLAYER_DICT = players.T.to_dict('list')

In [4]:
slfx.CURR_DICT

{'ATLANTA_HAWKS': ['ATLANTA'],
 'BOSTON_CELTICS': ['BOSTON'],
 'BROOKLYN_NETS': ['BROOKLYN'],
 'CHARLOTTE_HORNETS': ['CHARLOTTE'],
 'CHICAGO_BULLS': ['CHICAGO'],
 'CLEVELAND_CAVALIERS': ['CLEVELAND'],
 'DALLAS_MAVERICKS': ['DALLAS'],
 'DENVER_NUGGETS': ['DENVER'],
 'DETROIT_PISTONS': ['DETROIT'],
 'GOLDEN_STATE_WARRIORS': ['GOLDEN STATE'],
 'HOUSTON_ROCKETS': ['HOUSTON'],
 'INDIANA_PACERS': ['INDIANA'],
 'LOS_ANGELES_CLIPPERS': ['LA CLIPPERS'],
 'LOS_ANGELES_LAKERS': ['LA LAKERS'],
 'MEMPHIS_GRIZZLIES': ['MEMPHIS'],
 'MIAMI_HEAT': ['MIAMI'],
 'MILWAUKEE_BUCKS': ['MILWAUKEE'],
 'MINNESOTA_TIMBERWOLVES': ['MINNESOTA'],
 'NEW_ORLEANS_PELICANS': ['NEW ORLEANS'],
 'NEW_YORK_KNICKS': ['NEW YORK'],
 'OKLAHOMA_CITY_THUNDER': ['OKLAHOMA CITY'],
 'ORLANDO_MAGIC': ['ORLANDO'],
 'PHILADELPHIA_76ERS': ['PHILADELPHIA'],
 'PHOENIX_SUNS': ['PHOENIX'],
 'PORTLAND_TRAIL_BLAZERS': ['PORTLAND'],
 'SACRAMENTO_KINGS': ['SACRAMENTO'],
 'SAN_ANTONIO_SPURS': ['SAN ANTONIO'],
 'TORONTO_RAPTORS': ['TORONTO'],
 'UTAH_JAZZ': ['UTAH'],
 'WASHINGTON_WIZARDS': ['WASHINGTON']}

## Make **'starter_fetcher'**

In [284]:
starting_lineup = pd.read_csv('../Resources/sample_lineup.csv')
starting_lineup.head()

,Unnamed: 0,TEAM,PG,SG,SF,PF,C
0,0,Atlanta,T. Young,K. Huerter,D. Hunter,J. Collins,C. Capela
1,1,Boston,K. Walker,J. Brown,J. Tatum,G. Hayward,D. Theis
2,2,Brooklyn,K. Irving,J. Harris,C. LeVert,T. Prince,J. Allen
3,3,Charlotte,D. Graham,T. Rozier,M. Bridges,P. Washington,C. Zeller
4,4,Chicago,T. Satoransky,Z. LaVine,K. Dunn,L. Markkanen,L. Kornet

In [198]:
starting_lineup.TEAM = starting_lineup.TEAM.str.upper()

In [193]:
starting_lineup.index = starting_lineup.TEAM
starting_lineup = starting_lineup[['PG','SG', 'SF','PF','C']]

In [199]:
starting_lineup.head()

,Unnamed: 0,TEAM,PG,SG,SF,PF,C
0,0,ATLANTA,T. Young,K. Huerter,D. Hunter,J. Collins,C. Capela
1,1,BOSTON,K. Walker,J. Brown,J. Tatum,G. Hayward,D. Theis
2,2,BROOKLYN,K. Irving,J. Harris,C. LeVert,T. Prince,J. Allen
3,3,CHARLOTTE,D. Graham,T. Rozier,M. Bridges,P. Washington,C. Zeller
4,4,CHICAGO,T. Satoransky,Z. LaVine,K. Dunn,L. Markkanen,L. Kornet

In [106]:
starting_lineup = starting_lineup.T

## Make **'CURR_DICT'**

In [138]:
import sys
sys.path.append('../Scripts')

import scheduling_functions as sfx

In [139]:
schedule = pd.read_csv('../Resources/game_schedule_13-current.csv')
clean_schedule = sfx.get_encoded_schedule(schedule)
clean_schedule.head()

,date1,date2,away,home,away_team_score,home_team_score,game_number,game_id
0,2012-10-30,2012-10-29,WASHINGTON_WIZARDS,CLEVELAND_CAVALIERS,84.0,94.0,0,0
1,2012-10-31,2012-10-30,BOSTON_CELTICS,MIAMI_HEAT,107.0,120.0,1,1
2,2012-10-31,2012-10-30,DALLAS_MAVERICKS,LOS_ANGELES_LAKERS,99.0,91.0,2,2
3,2012-10-31,2012-10-30,INDIANA_PACERS,TORONTO_RAPTORS,90.0,88.0,3,3
4,2012-10-31,2012-10-30,DENVER_NUGGETS,PHILADELPHIA_76ERS,75.0,84.0,4,4

In [266]:
team = clean_schedule[['away','home']].copy()
team.drop(columns=['home'],inplace=True)
team.drop_duplicates(inplace=True)
team.drop([29], inplace=True)
team.drop([31], inplace=True)

In [267]:
curr_dict_index = list(team.away)
curr_dict_index.sort()
curr_dict_values = list(starting_lineup.TEAM)
curr_dict = pd.DataFrame(curr_dict_values, index=curr_dict_index, columns=['team_name'])

CURR_DICT = curr_dict.T.to_dict('list')

In [286]:
CURR_DICT

{'ATLANTA_HAWKS': ['ATLANTA'],
 'BOSTON_CELTICS': ['BOSTON'],
 'BROOKLYN_NETS': ['BROOKLYN'],
 'CHARLOTTE_HORNETS': ['CHARLOTTE'],
 'CHICAGO_BULLS': ['CHICAGO'],
 'CLEVELAND_CAVALIERS': ['CLEVELAND'],
 'DALLAS_MAVERICKS': ['DALLAS'],
 'DENVER_NUGGETS': ['DENVER'],
 'DETROIT_PISTONS': ['DETROIT'],
 'GOLDEN_STATE_WARRIORS': ['GOLDEN STATE'],
 'HOUSTON_ROCKETS': ['HOUSTON'],
 'INDIANA_PACERS': ['INDIANA'],
 'LOS_ANGELES_CLIPPERS': ['LA CLIPPERS'],
 'LOS_ANGELES_LAKERS': ['LA LAKERS'],
 'MEMPHIS_GRIZZLIES': ['MEMPHIS'],
 'MIAMI_HEAT': ['MIAMI'],
 'MILWAUKEE_BUCKS': ['MILWAUKEE'],
 'MINNESOTA_TIMBERWOLVES': ['MINNESOTA'],
 'NEW_ORLEANS_PELICANS': ['NEW ORLEANS'],
 'NEW_YORK_KNICKS': ['NEW YORK'],
 'OKLAHOMA_CITY_THUNDER': ['OKLAHOMA CITY'],
 'ORLANDO_MAGIC': ['ORLANDO'],
 'PHILADELPHIA_76ERS': ['PHILADELPHIA'],
 'PHOENIX_SUNS': ['PHOENIX'],
 'PORTLAND_TRAIL_BLAZERS': ['PORTLAND'],
 'SACRAMENTO_KINGS': ['SACRAMENTO'],
 'SAN_ANTONIO_SPURS': ['SAN ANTONIO'],
 'TORONTO_RAPTORS': ['TORONTO'],
 'UTAH_JAZZ': ['UTAH'],
 'WASHINGTON_WIZARDS': ['WASHINGTON']}

## Make **'PAST_DICT'**

In [280]:
team = clean_schedule[['away','home']].copy()
team.drop(columns=['home'],inplace=True)
team.drop_duplicates(inplace=True)
past_dict_index = list(team.away)

past_dict_index.sort()


past_dict_values = ['ATL','BKN','BOS','CHB','CHA','CHI','CLE','DAL','DEN','DET','GSW','HOU',
                   'IND','LAC','LAL','MEM','MIA','MIL','MIN','NOP','NOP','NYK','OKC','ORL',
                   'PHI','PHX','POR','SAC','SAS','TOR','UTA','WAS']

past_dict = pd.DataFrame(past_dict_values, index=past_dict_index, columns=['team_abbr'])

In [281]:
PAST_DICT = past_dict.T.to_dict('list')
PAST_DICT

{'ATLANTA_HAWKS': ['ATL'],
 'BOSTON_CELTICS': ['BKN'],
 'BROOKLYN_NETS': ['BOS'],
 'CHARLOTTE_BOBCATS': ['CHB'],
 'CHARLOTTE_HORNETS': ['CHA'],
 'CHICAGO_BULLS': ['CHI'],
 'CLEVELAND_CAVALIERS': ['CLE'],
 'DALLAS_MAVERICKS': ['DAL'],
 'DENVER_NUGGETS': ['DEN'],
 'DETROIT_PISTONS': ['DET'],
 'GOLDEN_STATE_WARRIORS': ['GSW'],
 'HOUSTON_ROCKETS': ['HOU'],
 'INDIANA_PACERS': ['IND'],
 'LOS_ANGELES_CLIPPERS': ['LAC'],
 'LOS_ANGELES_LAKERS': ['LAL'],
 'MEMPHIS_GRIZZLIES': ['MEM'],
 'MIAMI_HEAT': ['MIA'],
 'MILWAUKEE_BUCKS': ['MIL'],
 'MINNESOTA_TIMBERWOLVES': ['MIN'],
 'NEW_ORLEANS_HORNETS': ['NOP'],
 'NEW_ORLEANS_PELICANS': ['NOP'],
 'NEW_YORK_KNICKS': ['NYK'],
 'OKLAHOMA_CITY_THUNDER': ['OKC'],
 'ORLANDO_MAGIC': ['ORL'],
 'PHILADELPHIA_76ERS': ['PHI'],
 'PHOENIX_SUNS': ['PHX'],
 'PORTLAND_TRAIL_BLAZERS': ['POR'],
 'SACRAMENTO_KINGS': ['SAC'],
 'SAN_ANTONIO_SPURS': ['SAS'],
 'TORONTO_RAPTORS': ['TOR'],
 'UTAH_JAZZ': ['UTA'],
 'WASHINGTON_WIZARDS': ['WAS']}

## Testing out the dictionaries

In [283]:
import starting_lineup_functions as starters

In [18]:
def lineup_name_converter(string):
    name = PLAYER_DICT[string]
    return name

def schedule_past_team_converter(string):
    name = PAST_DICT[string]
    return name

def schedule_curr_team_converter(string):
    name = CURR_DICT[string]
    return name

In [289]:
starters.starter_fetcher(starting_lineup, schedule_curr_team_converter('UTAH_JAZZ'))

['UTAH']

In [292]:
todays_starters = starters.starter_fetcher(starting_lineup,'UTAH')

In [294]:
lineup_name_converter(todays_starters[0])

['Mike Conley']

In [20]:
lineup_name_converter('D. Wade')

['Dean Wade']