# Get Active Players

In [1]:
from basketball_reference_web_scraper import client
import pandas as pd
import numpy as np

In [2]:
def get_ids(year):
    df = pd.DataFrame(client.players_season_totals(year))
    new_df = df[['name','slug']].copy()
    return new_df

def get_all_ids(year_start, year_end):
    df = pd.concat([get_ids(year) for year in range(year_start, year_end+1)])
    df.drop_duplicates(inplace=True)
    return df

In [3]:
all_players = get_all_ids(2012,2020)

In [5]:
all_players.head()

            name       slug
0    Jeff Adrien  adrieje01
1  Arron Afflalo  afflaar01
2   Blake Ahearn  ahearbl01
3  Solomon Alabi  alabiso01
4   Cole Aldrich  aldrico01

In [6]:
name = all_players["name"].str.split(" ", n = -1, expand = True)
name.columns = ['first_name','last_name', 'other_1','other_2']
name.drop(columns=['other_1','other_2'], inplace=True)
name['Lineup_name'] = name['first_name'].str[0]+'. '+ name['last_name'].str[:]

lineup_df = pd.concat([all_players, name], axis='columns')
lineup_df.drop(columns=['first_name','last_name','slug'], inplace=True)
lineup_df.head()

            name Lineup_name
0    Jeff Adrien   J. Adrien
1  Arron Afflalo  A. Afflalo
2   Blake Ahearn   B. Ahearn
3  Solomon Alabi    S. Alabi
4   Cole Aldrich  C. Aldrich

In [7]:
lineup_df.to_csv('../Resources/active_players.csv')