# **NBA Data Scraper**

## Libraries

In [161]:
import pandas as pd
import numpy as np
import random

## Tests for DF transformation

In [189]:
list_a = [['a',1],['b',2],['c',3]]

list_b = [['a',4],['b',5],['c',3]]

list_c = list_a + list_b

In [191]:
a_list = [1,2,3,4,4,5]
set(a_list)

{1, 2, 3, 4, 5}

In [25]:
dfa = pd.DataFrame(list_a).T
dfb = pd.DataFrame(list_b).T

In [184]:
list_a +list_b

[['a', 1], ['b', 2], ['c', 3], ['a', 4], ['b', 5], ['c', 6]]

In [27]:
list_of_df = [dfa,dfb]

In [28]:
pd.concat([i for i in list_of_df], axis='rows', join = 'inner')

   0  1  2
0  a  b  c
1  1  2  3
0  a  b  c
1  4  5  6

In [201]:
# function to check status of object
def checker(object):
    print(f'length : {len(object)}')
    print(type(object))
    if type(object) == list:
        print(object[:5])
    elif type(object) == dict:
        print(f'Keys: {list(object.keys())[:5]}')
        print(f'Values: {list(object.values())[:5]}')
    elif str(type(object)) == "<class 'pandas.core.frame.DataFrame'>":
        print(object.dtypes)
        print(object.describe())
    else:
        return

In [4]:
# retreive player box score for 1 season and return as dataframe
def box_score(player_id, year):
    df = pd.DataFrame(client.regular_season_player_box_scores(player_identifier=player_id, season_end_year=year))
    df['Team'] = df.team.str[5:]
    df['Location'] = df.location.str[-4:]
    df['Opponent'] = df.opponent.str[5:]
    df['Outcome'] = df.outcome.str[8:]
    df.drop(columns=['team','location','opponent','outcome'], inplace=True)
    df = df[df_cols]
    return df

# returns a dataframe with all of one player's scores
def all_box_scores(player_id,year_start,year_stop):
    df = pd.concat([box_score(player_id, year) for year in range(year_start,year_stop)],
                   axis = 'rows',
                   join = 'inner')
    return df

# returns a dataframe with allplayers box scores for a period
def all_players_box_scores(year_start, year_stop):
    df = pd.concat([all_box_scores(id, year_start, year_stop) for id in player_ids],
                  axis = 'rows',
                  join = 'inner')
    return df

In [ ]:
# Gets all scores for one player
# westbrook_4years = all_box_scores("westbru01",2015,2020)

## Working with Sample Files

In [182]:
westbrook_path = 'Sample_Files/westbrook_2014_2019.csv'
df = pd.read_csv(westbrook_path)
df.head(5)

,Unnamed: 0,date,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus
0,0,2014-10-29,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PORTLAND_TRAIL_BLAZERS,Outcome.LOSS,1959,11,26,1,...,2,1,6,3,0,2,3,38,29.5,-4
1,1,2014-10-30,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.LOS_ANGELES_CLIPPERS,Outcome.LOSS,523,1,3,0,...,0,0,4,1,0,3,2,2,0.3,-3
2,2,2014-11-28,Team.OKLAHOMA_CITY_THUNDER,Location.HOME,Team.NEW_YORK_KNICKS,Outcome.WIN,1428,12,17,3,...,4,3,8,1,0,3,2,32,30.6,24
3,3,2014-12-02,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.NEW_ORLEANS_PELICANS,Outcome.LOSS,1982,6,20,1,...,1,5,7,2,0,7,3,21,9.9,-16
4,4,2014-12-05,Team.OKLAHOMA_CITY_THUNDER,Location.AWAY,Team.PHILADELPHIA_76ERS,Outcome.WIN,1843,8,14,1,...,0,5,7,2,0,6,3,27,20.0,11

In [183]:
df['Team'] = df.team.str[5:]
df['Location'] = df.location.str[-4:]
df['Opponent'] = df.opponent.str[5:]
df['Outcome'] = df.outcome.str[8:]
df.drop(columns=['team','location','opponent','outcome'], inplace=True)
df.head()

,Unnamed: 0,date,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,made_free_throws,attempted_free_throws,offensive_rebounds,...,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus,Team,Location,Opponent,Outcome
0,0,2014-10-29,1959,11,26,1,2,15,16,2,...,0,2,3,38,29.5,-4,OKLAHOMA_CITY_THUNDER,AWAY,PORTLAND_TRAIL_BLAZERS,LOSS
1,1,2014-10-30,523,1,3,0,1,0,0,0,...,0,3,2,2,0.3,-3,OKLAHOMA_CITY_THUNDER,AWAY,LOS_ANGELES_CLIPPERS,LOSS
2,2,2014-11-28,1428,12,17,3,4,5,7,4,...,0,3,2,32,30.6,24,OKLAHOMA_CITY_THUNDER,HOME,NEW_YORK_KNICKS,WIN
3,3,2014-12-02,1982,6,20,1,4,8,9,1,...,0,7,3,21,9.9,-16,OKLAHOMA_CITY_THUNDER,AWAY,NEW_ORLEANS_PELICANS,LOSS
4,4,2014-12-05,1843,8,14,1,3,10,14,0,...,0,6,3,27,20.0,11,OKLAHOMA_CITY_THUNDER,AWAY,PHILADELPHIA_76ERS,WIN

In [66]:
westbrook_df.set_index(pd.to_datetime(westbrook_df['date'], infer_datetime_format=True), inplace=True)

In [67]:
westbrook_df.date = pd.to_datetime(westbrook_df.date)

In [70]:
westbrook_df.columns.to_list()

['Unnamed: 0',
 'date',
 'team',
 'location',
 'opponent',
 'outcome',
 'seconds_played',
 'made_field_goals',
 'attempted_field_goals',
 'made_three_point_field_goals',
 'attempted_three_point_field_goals',
 'made_free_throws',
 'attempted_free_throws',
 'offensive_rebounds',
 'defensive_rebounds',
 'assists',
 'steals',
 'blocks',
 'turnovers',
 'personal_fouls',
 'points_scored',
 'game_score',
 'plus_minus']

In [135]:
df_cols = ['date',
 'Team',
 'Location',
 'Opponent',
 'Outcome', 
 'seconds_played',
 'made_field_goals',
 'attempted_field_goals',
 'made_three_point_field_goals',
 'attempted_three_point_field_goals',
 'made_free_throws',
 'attempted_free_throws',
 'offensive_rebounds',
 'defensive_rebounds',
 'assists',
 'steals',
 'blocks',
 'turnovers',
 'personal_fouls',
 'points_scored',
 'game_score',
 'plus_minus']

In [131]:
df = pd.read_csv(westbrook_path)
df['Team'] = df.team.str[5:]
df['Location'] = df.location.str[-4:]
df['Opponent'] = df.opponent.str[5:]
df['Outcome'] = df.outcome.str[8:]
df.drop(columns=['team','location','opponent','outcome'], inplace=True)

In [136]:
df = df[df_cols]
df.head()

,date,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus
0,2014-10-29,OKLAHOMA_CITY_THUNDER,AWAY,PORTLAND_TRAIL_BLAZERS,LOSS,1959,11,26,1,2,...,2,1,6,3,0,2,3,38,29.5,-4
1,2014-10-30,OKLAHOMA_CITY_THUNDER,AWAY,LOS_ANGELES_CLIPPERS,LOSS,523,1,3,0,1,...,0,0,4,1,0,3,2,2,0.3,-3
2,2014-11-28,OKLAHOMA_CITY_THUNDER,HOME,NEW_YORK_KNICKS,WIN,1428,12,17,3,4,...,4,3,8,1,0,3,2,32,30.6,24
3,2014-12-02,OKLAHOMA_CITY_THUNDER,AWAY,NEW_ORLEANS_PELICANS,LOSS,1982,6,20,1,4,...,1,5,7,2,0,7,3,21,9.9,-16
4,2014-12-05,OKLAHOMA_CITY_THUNDER,AWAY,PHILADELPHIA_76ERS,WIN,1843,8,14,1,3,...,0,5,7,2,0,6,3,27,20.0,11

In [139]:
df['new_column'] = df.Team + df.Opponent

In [140]:
df.head()

,date,Team,Location,Opponent,Outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,attempted_three_point_field_goals,...,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus,new_column
0,2014-10-29,OKLAHOMA_CITY_THUNDER,AWAY,PORTLAND_TRAIL_BLAZERS,LOSS,1959,11,26,1,2,...,1,6,3,0,2,3,38,29.5,-4,OKLAHOMA_CITY_THUNDERPORTLAND_TRAIL_BLAZERS
1,2014-10-30,OKLAHOMA_CITY_THUNDER,AWAY,LOS_ANGELES_CLIPPERS,LOSS,523,1,3,0,1,...,0,4,1,0,3,2,2,0.3,-3,OKLAHOMA_CITY_THUNDERLOS_ANGELES_CLIPPERS
2,2014-11-28,OKLAHOMA_CITY_THUNDER,HOME,NEW_YORK_KNICKS,WIN,1428,12,17,3,4,...,3,8,1,0,3,2,32,30.6,24,OKLAHOMA_CITY_THUNDERNEW_YORK_KNICKS
3,2014-12-02,OKLAHOMA_CITY_THUNDER,AWAY,NEW_ORLEANS_PELICANS,LOSS,1982,6,20,1,4,...,5,7,2,0,7,3,21,9.9,-16,OKLAHOMA_CITY_THUNDERNEW_ORLEANS_PELICANS
4,2014-12-05,OKLAHOMA_CITY_THUNDER,AWAY,PHILADELPHIA_76ERS,WIN,1843,8,14,1,3,...,5,7,2,0,6,3,27,20.0,11,OKLAHOMA_CITY_THUNDERPHILADELPHIA_76ERS

## Get list of player_id's & player_names

In [38]:
advanced_stats_2019_path = 'Sample_Files/advanced_season_totals_2019.csv'
advanced_2019 = pd.read_csv(advanced_stats_2019_path)
advanced_2019.head()

,Unnamed: 0,slug,name,positions,age,team,games_played,minutes_played,player_efficiency_rating,true_shooting_percentage,...,turnover_percentage,usage_percentage,offensive_win_shares,defensive_win_shares,win_shares,win_shares_per_48_minutes,offensive_box_plus_minus,defensive_box_plus_minus,box_plus_minus,value_over_replacement_player
0,0,abrinal01,Álex Abrines,[<Position.SHOOTING_GUARD: 'SHOOTING GUARD'>],25,Team.OKLAHOMA_CITY_THUNDER,31,588,6.3,0.507,...,7.9,12.2,0.1,0.6,0.6,0.053,-2.4,-0.9,-3.4,-0.2
1,1,acyqu01,Quincy Acy,[<Position.POWER_FORWARD: 'POWER FORWARD'>],28,Team.PHOENIX_SUNS,10,123,2.9,0.379,...,15.2,9.2,-0.1,0.0,-0.1,-0.022,-5.7,-0.3,-5.9,-0.1
2,2,adamsja01,Jaylen Adams,[<Position.POINT_GUARD: 'POINT GUARD'>],22,Team.ATLANTA_HAWKS,34,428,7.6,0.474,...,19.7,13.5,-0.1,0.2,0.1,0.011,-3.1,-1.3,-4.4,-0.3
3,3,adamsst01,Steven Adams,[<Position.CENTER: 'CENTER'>],25,Team.OKLAHOMA_CITY_THUNDER,80,2669,18.5,0.591,...,12.6,16.4,5.1,4.0,9.1,0.163,0.6,2.1,2.7,3.2
4,4,adebaba01,Bam Adebayo,[<Position.CENTER: 'CENTER'>],21,Team.MIAMI_HEAT,82,1913,17.9,0.623,...,17.1,15.8,3.4,3.4,6.8,0.171,-0.6,3.6,3.0,2.4

In [157]:
player_ids =list(set(advanced_2019['slug'].to_list()))
checker(player_ids)

length : 530
<class 'list'>
['antetko01', 'arizatr01', 'bridgmi01', 'harrijo01', 'leoname01']

In [156]:
player_names = list(set(advanced_2019['name'].to_list()))
checker(player_names)

length : 530
<class 'list'>
['Deandre Ayton', 'Dwyane Wade', 'Omari Spellman', 'Jeremy Lamb', 'Bonzie Colson']

## Define Player Dictionary {name:slug}

In [116]:
player_dict = advanced_2019[['name','slug']]
player_dict.index = player_dict.name
player_dict.drop(columns = ['name'], inplace=True)
player_dict = player_dict.T.to_dict('list')
print(len(player_dict))
print(player_dict['Kevin Durant'])

530
['duranke01']

C:\Users\ekuo651\Anaconda3\lib\site-packages\pandas\core\frame.py:4097: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\ekuo651\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  after removing the cwd from sys.path.

## Load in 2017

In [1]:
bs_201701 = pd.read_csv('Box_Scores/2017_01.csv')
bs_201702 = pd.read_csv('Box_Scores/2017_02.csv')
bs_201703 = pd.read_csv('Box_Scores/2017_03.csv')
bs_201704 = pd.read_csv('Box_Scores/2017_04.csv')
bs_201705 = pd.read_csv('Box_Scores/2017_05.csv')

NameError: name 'pd' is not defined

In [193]:
all_2017 = pd.concat([bs_201701,bs_201702,bs_201703,bs_201704,bs_201705],axis='rows',join='inner')

In [202]:
checker(all_2017)

length : 25775
<class 'pandas.core.frame.DataFrame'>
Unnamed: 0                             int64
date                                  object
team                                  object
location                              object
opponent                              object
outcome                               object
seconds_played                         int64
made_field_goals                       int64
attempted_field_goals                  int64
made_three_point_field_goals           int64
attempted_three_point_field_goals      int64
made_free_throws                       int64
attempted_free_throws                  int64
offensive_rebounds                     int64
defensive_rebounds                     int64
assists                                int64
steals                                 int64
blocks                                 int64
turnovers                              int64
personal_fouls                         int64
points_scored                          int64
game_score                           float64
plus_minus                             int64
dtype: object
         Unnamed: 0  seconds_played  made_field_goals  attempted_field_goals  \
count  25775.000000    25775.000000      25775.000000           25775.000000
mean      32.104597     1359.656954          3.693307               8.084423
std       21.306649      633.965521          3.057293               5.722293
min        0.000000        0.000000          0.000000               0.000000
25%       14.000000      902.000000          1.000000               4.000000
50%       30.000000     1402.000000          3.000000               7.000000
75%       49.000000     1873.000000          5.000000              12.000000
max       81.000000     3607.000000         21.000000              36.000000

       made_three_point_field_goals  attempted_three_point_field_goals  \
count                  25775.000000                       25775.000000
mean                       0.935209                           2.590145
std                        1.301935                           2.642276
min                        0.000000                           0.000000
25%                        0.000000                           0.000000
50%                        0.000000                           2.000000
75%                        1.000000                           4.000000
max                       13.000000                          19.000000

       made_free_throws  attempted_free_throws  offensive_rebounds  \
count      25775.000000           25775.000000        25775.000000
mean           1.684927               2.162250            0.911387
std            2.344408               2.804703            1.304730
min            0.000000               0.000000            0.000000
25%            0.000000               0.000000            0.000000
50%            1.000000               2.000000            0.000000
75%            2.000000               3.000000            1.000000
max           20.000000              22.000000           13.000000

       defensive_rebounds       assists        steals        blocks  \
count        25775.000000  25775.000000  25775.000000  25775.000000
mean             3.072512      2.134898      0.716392      0.453463
std              2.682274      2.491843      0.961726      0.824471
min              0.000000      0.000000      0.000000      0.000000
25%              1.000000      0.000000      0.000000      0.000000
50%              2.000000      1.000000      0.000000      0.000000
75%              4.000000      3.000000      1.000000      1.000000
max             20.000000     20.000000     10.000000      8.000000

          turnovers  personal_fouls  points_scored    game_score    plus_minus
count  25775.000000    25775.000000   25775.000000  25775.000000  25775.000000
mean       1.246673        1.837051      10.006751      7.740524      0.130630
std        1.359801        1.438256       8.287935      7.298289     10.827182
min        0.000000        0.000000       0.000000     -7.400000    -45.000000
25%        0.000000        1.000000       4.000000      2.100000     -7.000000
50%        1.000000        2.000000       8.000000      6.400000      0.000000
75%        2.000000        3.000000      15.000000     12.000000      7.000000
max       12.000000        6.000000      60.000000     48.700000     43.000000

In [200]:
str(type(all_2017))

"<class 'pandas.core.frame.DataFrame'>"

In [203]:
all_2017.head(50)

,Unnamed: 0,date,team,location,opponent,outcome,seconds_played,made_field_goals,attempted_field_goals,made_three_point_field_goals,...,offensive_rebounds,defensive_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_scored,game_score,plus_minus
0,0,2016-10-27,Team.ATLANTA_HAWKS,Location.HOME,Team.WASHINGTON_WIZARDS,Outcome.WIN,1319,6,8,1,...,3,4,5,5,0,1,2,13,19.0,19
1,1,2016-10-29,Team.ATLANTA_HAWKS,Location.AWAY,Team.PHILADELPHIA_76ERS,Outcome.WIN,1165,4,4,0,...,0,4,1,1,0,0,1,11,11.9,19
2,2,2016-10-31,Team.ATLANTA_HAWKS,Location.HOME,Team.SACRAMENTO_KINGS,Outcome.WIN,1428,2,5,0,...,1,6,3,4,0,2,1,4,7.5,20
3,3,2016-11-02,Team.ATLANTA_HAWKS,Location.HOME,Team.LOS_ANGELES_LAKERS,Outcome.LOSS,1136,2,6,0,...,1,3,3,2,0,2,0,4,4.3,4
4,4,2016-11-04,Team.ATLANTA_HAWKS,Location.AWAY,Team.WASHINGTON_WIZARDS,Outcome.LOSS,1600,2,4,1,...,0,2,3,2,0,0,3,5,6.5,7
5,5,2016-11-05,Team.ATLANTA_HAWKS,Location.HOME,Team.HOUSTON_ROCKETS,Outcome.WIN,1440,4,8,0,...,3,1,1,3,1,1,0,8,9.8,7
6,6,2016-11-08,Team.ATLANTA_HAWKS,Location.AWAY,Team.CLEVELAND_CAVALIERS,Outcome.WIN,2122,2,6,1,...,2,3,1,1,0,1,3,5,3.4,-6
7,7,2016-11-09,Team.ATLANTA_HAWKS,Location.HOME,Team.CHICAGO_BULLS,Outcome.WIN,1716,8,9,2,...,1,4,1,3,1,4,0,20,19.2,8
8,8,2016-11-12,Team.ATLANTA_HAWKS,Location.HOME,Team.PHILADELPHIA_76ERS,Outcome.WIN,1066,3,7,1,...,0,2,1,2,0,1,1,7,5.2,15
9,9,2016-11-15,Team.ATLANTA_HAWKS,Location.AWAY,Team.MIAMI_HEAT,Outcome.WIN,1395,0,2,0,...,0,2,0,3,0,0,0,3,4.8,-5
10,10,2016-11-22,Team.ATLANTA_HAWKS,Location.HOME,Team.NEW_ORLEANS_PELICANS,Outcome.LOSS,1361,3,7,0,...,0,3,1,1,0,1,0,6,3.9,-7
11,11,2016-11-23,Team.ATLANTA_HAWKS,Location.AWAY,Team.INDIANA_PACERS,Outcome.WIN,1965,2,8,0,...,0,7,3,1,0,3,2,4,0.6,-14
12,12,2016-11-25,Team.ATLANTA_HAWKS,Location.AWAY,Team.UTAH_JAZZ,Outcome.LOSS,1392,4,7,0,...,3,4,2,0,0,0,0,11,12.0,-23
13,13,2016-11-27,Team.ATLANTA_HAWKS,Location.AWAY,Team.LOS_ANGELES_LAKERS,Outcome.LOSS,1218,1,3,0,...,1,4,1,0,0,0,1,2,2.5,-8
14,14,2016-11-28,Team.ATLANTA_HAWKS,Location.AWAY,Team.GOLDEN_STATE_WARRIORS,Outcome.LOSS,1534,3,8,0,...,0,5,2,2,1,1,3,9,7.6,-8
15,15,2016-11-30,Team.ATLANTA_HAWKS,Location.AWAY,Team.PHOENIX_SUNS,Outcome.LOSS,1843,3,6,0,...,1,7,1,5,0,1,4,6,8.9,-6
16,16,2016-12-02,Team.ATLANTA_HAWKS,Location.HOME,Team.DETROIT_PISTONS,Outcome.LOSS,995,2,5,1,...,0,2,0,1,0,0,0,5,3.9,-16
17,17,2016-12-03,Team.ATLANTA_HAWKS,Location.AWAY,Team.TORONTO_RAPTORS,Outcome.LOSS,1396,3,7,2,...,1,3,1,0,1,2,0,8,5.3,-19
18,18,2016-12-05,Team.ATLANTA_HAWKS,Location.HOME,Team.OKLAHOMA_CITY_THUNDER,Outcome.LOSS,1979,3,6,0,...,0,3,2,4,2,0,5,6,7.9,1
19,19,2016-12-07,Team.ATLANTA_HAWKS,Location.HOME,Team.MIAMI_HEAT,Outcome.WIN,1760,5,11,0,...,3,2,5,1,0,0,0,10,11.5,12
20,20,2016-12-09,Team.ATLANTA_HAWKS,Location.AWAY,Team.MILWAUKEE_BUCKS,Outcome.WIN,1754,3,9,0,...,0,6,4,2,2,1,0,8,9.9,-3
21,21,2016-12-13,Team.ATLANTA_HAWKS,Location.HOME,Team.ORLANDO_MAGIC,Outcome.LOSS,1797,6,11,1,...,1,4,3,2,1,1,1,17,17.0,0
22,22,2016-12-16,Team.ATLANTA_HAWKS,Location.AWAY,Team.TORONTO_RAPTORS,Outcome.WIN,1664,2,6,0,...,2,6,1,1,2,3,1,4,3.5,-8
23,23,2016-12-17,Team.ATLANTA_HAWKS,Location.HOME,Team.CHARLOTTE_HORNETS,Outcome.LOSS,1801,2,4,2,...,0,2,0,1,0,2,3,6,2.4,1
24,24,2016-12-19,Team.ATLANTA_HAWKS,Location.AWAY,Team.OKLAHOMA_CITY_THUNDER,Outcome.WIN,2014,6,10,1,...,0,6,1,1,0,1,2,15,12.1,2
25,25,2016-12-21,Team.ATLANTA_HAWKS,Location.HOME,Team.MINNESOTA_TIMBERWOLVES,Outcome.LOSS,1964,2,6,0,...,0,6,1,4,0,1,3,4,4.9,-10
26,26,2016-12-23,Team.ATLANTA_HAWKS,Location.AWAY,Team.DENVER_NUGGETS,Outcome.WIN,1755,4,8,2,...,2,2,3,4,1,0,1,12,16.4,9
27,27,2016-12-26,Team.ATLANTA_HAWKS,Location.AWAY,Team.MINNESOTA_TIMBERWOLVES,Outcome.LOSS,1273,5,10,3,...,1,4,0,0,3,1,0,13,11.0,-2
28,28,2016-12-28,Team.ATLANTA_HAWKS,Location.HOME,Team.NEW_YORK_KNICKS,Outcome.WIN,1839,3,7,1,...,1,5,0,2,0,4,2,11,6.7,-3
29,29,2016-12-30,Team.ATLANTA_HAWKS,Location.HOME,Team.DETROIT_PISTONS,Outcome.WIN,1376,2,6,0,...,0,5,0,0,0,0,3,4,0.5,-3
30,30,2017-01-01,Team.ATLANTA_HAWKS,Location.HOME,Team.SAN_ANTONIO_SPURS,Outcome.WIN,979,0,3,0,...,1,1,1,1,1,0,3,3,2.7,-9
31,31,2017-01-04,Team.ATLANTA_HAWKS,Location.AWAY,Team.ORLANDO_MAGIC,Outcome.WIN,1684,4,9,0,...,0,5,1,1,0,0,2,8,5.7,14
32,32,2017-01-05,Team.ATLANTA_HAWKS,Location.AWAY,Team.NEW_ORLEANS_PELICANS,Outcome.WIN,1943,3,6,1,...,1,5,5,1,3,2,2,7,10.0,14
33,33,2017-01-07,Team.ATLANTA_HAWKS,Location.AWAY,Team.DALLAS_MAVERICKS,Outcome.WIN,1080,0,3,0,...,0,1,0,1,0,0,1,0,-1.2,6
34,34,2017-01-10,Team.ATLANTA_HAWKS,Location.AWAY,Team.BROOKLYN_NETS,Outcome.WIN,1636,5,10,0,...,0,4,2,2,1,1,1,10,8.9,15
35,35,2017-01-13,Team.ATLANTA_HAWKS,Location.HOME,Team.BOSTON_CELTICS,Outcome.LOSS,1425,0,3,0,...,0,3,1,0,1,0,1,3,2.4,-20
36,36,2017-01-15,Team.ATLANTA_HAWKS,Location.HOME,Team.MILWAUKEE_BUCKS,Outcome.WIN,2127,4,11,1,...,1,1,3,3,0,2,3,10,6.8,5
37,37,2017-01-16,Team.ATLANTA_HAWKS,Location.AWAY,Team.NEW_YORK_KNICKS,Outcome.WIN,1323,1,4,1,...,0,4,1,2,0,0,4,3,2.9,-8
38,38,2017-01-18,Team.ATLANTA_HAWKS,Location.AWAY,Team.DETROIT_PISTONS,Outcome.LOSS,740,0,3,0,...,0,1,0,0,0,0,2,0,-2.6,-13
39,39,2017-01-20,Team.ATLANTA_HAWKS,Location.HOME,Team.CHICAGO_BULLS,Outcome.WIN,1544,4,6,0,...,2,2,1,3,0,0,1,10,12.7,24
40,40,2017-01-21,Team.ATLANTA_HAWKS,Location.HOME,Team.PHILADELPHIA_76ERS,Outcome.WIN,1923,3,6,0,...,1,3,1,1,0,0,2,8,7.1,6
41,41,2017-01-23,Team.ATLANTA_HAWKS,Location.HOME,Team.LOS_ANGELES_CLIPPERS,Outcome.LOSS,1785,5,11,1,...,1,2,2,0,0,0,1,11,7.6,3
42,42,2017-01-25,Team.ATLANTA_HAWKS,Location.AWAY,Team.CHICAGO_BULLS,Outcome.WIN,1999,6,8,3,...,1,2,0,1,0,1,0,18,15.7,-9
43,43,2017-01-27,Team.ATLANTA_HAWKS,Location.HOME,Team.WASHINGTON_WIZARDS,Outcome.LOSS,970,0,2,0,...,0,2,1,0,2,1,2,2,1.5,-24
44,44,2017-02-24,Team.ATLANTA_HAWKS,Location.HOME,Team.MIAMI_HEAT,Outcome.LOSS,1254,1,5,0,...,1,3,0,1,0,0,1,2,1.1,-17
45,45,2017-02-25,Team.ATLANTA_HAWKS,Location.AWAY,Team.ORLANDO_MAGIC,Outcome.LOSS,1163,4,9,1,...,0,0,2,1,0,0,2,9,5.9,7
46,46,2017-02-27,Team.ATLANTA_HAWKS,Location.AWAY,Team.BOSTON_CELTICS,Outcome.WIN,1252,5,6,2,...,0,3,2,2,2,1,3,12,13.3,8
47,47,2017-03-01,Team.ATLANTA_HAWKS,Location.HOME,Team.DALLAS_MAVERICKS,Outcome.WIN,1909,2,4,1,...,1,4,1,3,0,0,1,5,8.2,0
48,48,2017-03-03,Team.ATLANTA_HAWKS,Location.HOME,Team.CLEVELAND_CAVALIERS,Outcome.LOSS,1884,2,7,1,...,2,3,6,0,0,1,0,5,5.6,-16
49,49,2017-03-05,Team.ATLANTA_HAWKS,Location.HOME,Team.INDIANA_PACERS,Outcome.LOSS,2158,4,12,2,...,1,5,4,2,0,0,3,12,11.0,5