In [78]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [79]:
def get_starting_lineup():
    url = "http://www.espn.com/nba/depth"
    html = urlopen(url)
    soup = BeautifulSoup(html)
    #use find_all from beautifulsoup to locate the header in the first table row (tag <tr>)
    tr_header = soup.find_all('tr', limit=2)[1]
    #use get_text to extract column header names under (tag <td>), and put into a list
    headers = [td.get_text() for td in tr_header.find_all('td')]
    #skip header row 
    tr_rows = soup.find_all('tr')[2:]
    #use get_text to extract starting player data from table data (tag <a>), skipping column header row
    starters_data = [[a.get_text().strip() for a in tr_rows[i].find_all('a')] for i in range(len(tr_rows))]
    team_starters_df = pd.DataFrame(starters_data, columns=headers)
    
    return(team_starters_df)

In [80]:
get_starting_lineup().head()

        TEAM             PG          SG          SF             PF          C
0    Atlanta       T. Young  K. Huerter   D. Hunter     J. Collins  C. Capela
1     Boston      K. Walker    J. Brown    J. Tatum     G. Hayward   D. Theis
2   Brooklyn      K. Irving   J. Harris   C. LeVert      T. Prince   J. Allen
3  Charlotte      D. Graham   T. Rozier  M. Bridges  P. Washington  C. Zeller
4    Chicago  T. Satoransky   Z. LaVine     K. Dunn   L. Markkanen  L. Kornet